{% extends "base_home.html" %}

{% block content %}
<div class="container">
    <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
                <h1 class="text-white">Welcome!</h1>
                <p class="text-lead text-light">Use the form bellow to login </p>
            </div>
        </div>
    </div>
</div>
<div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
         xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
</div>
</div>
<div class="container mt--9 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div id="errorMsg"></div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Sign in with credentials</small>
                        <br>
                        <img src="/static/assets/img/loading.gif" width="80" style="display: none;" id="loading">
                    </div>
                    <form role="form">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                </div>
                                <input class="form-control" id="username" placeholder="Username" name="username"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" id="password" placeholder="Password" type="password"
                                       name="password">
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4" id="btnSubmit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<script type="text/javascript">
        $(document).ready(function () {
            function validateField(username,password){
                var userNameOK=false;
                var passwordOK=false;
                var errorMsg="";
                var result=[]
                if (username.length>0) {
                    userNameOK=true;
                }else{
                   //showNotification("Username is required")
                    errorMsg+="Username is required <br>";
                }
                if (password.length>0) {
                    passwordOK=true;
                }else{
                    //showNotification("Password is required")
                    errorMsg+="Password is required";

                }
                if (userNameOK && passwordOK) {
                    result[0]=true;
                    result[1]=errorMsg;
                    return result;
                }else {
                    result[0]=false;
                    result[1]=errorMsg;
                    return result;
                }
            }
            function showNotification(message){
                var alertHtml="<div class='alert alert-danger'><button type='button' aria-hidden='true' class='close' data-dismiss='alert'><i class='ni ni-fat-remove'></i></button><span><b>"+message+"</b></span></div>";
                $("#errorMsg").html(alertHtml); 
            }
            $("#btnSubmit").click(function(event){
                event.preventDefault();
                var username=$("#username").val();
                var password=$("#password").val();
                result=validateField(username,password);
                if(result[0]){
                    $("#loading").show(); //show loading
                    //$("#avatar").hide(); //show loading
                    $('#btnSubmit').prop('disabled', true);
                    $.ajax({
                        url : "/login",
                        type: "POST",
                        data: JSON.stringify(
                            {username: username, password:password}
                        ),
                        contentType: "application/json; charset=utf-8",
                        dataType   : "json",
                        error:function(error){
                             $("#loading").hide(); //show loading
                             //$("#avatar").show(); //show loading
                             $('#btnSubmit').prop('disabled', false);

                        },
                        success: function(data){
                            console.log(data);
                            if (data.status=='200') {
                                //window.location.replace.href='/dtmdata';
                                location.replace('/qrresults');
                            }else{
                                /*var alertHtml="<div class='alert alert-danger'><button type='button' aria-hidden='true' class='close' data-dismiss='alert'><i class='nc-icon nc-simple-remove'></i></button><span><b>Incorrect credentials! Try again...</b></span></div>";
                                $("#errorMsg").html(alertHtml);*/ 
                                if (data.status=='500') {
                                    showNotification("Incorrect credentials! Try again...");
                                }else if(data.status=='201'){
                                    location.replace('/challengelist');
                                }else if(data.status=='250'){
                                    showNotification("This Account user is temporary inactive.Please contact with your Power User");
                                }else{
                                    showNotification("Incorrect credentials! Try again...");
                                }
                            }
                            
                            $("#loading").hide(); //show loading
                            //$("#avatar").show(); //show loading
                            $('#btnSubmit').prop('disabled', false);
                            
                        }
                    });
                }else{
                    showNotification(result[1])
                }
            });
        });
                    


</script>
{%endblock%}